.animal {
    float: left;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    background-color: beige;
    color: brown;
    margin: 0px;
    padding: 50px;
}

img{
    width: 200px;
    height: 300px;
}

figcaption{
    padding-bottom: 10px;
}

.dog figcaption{
    background-color: green;
}

.cat figcaption{
    background-color: purple;
    color: white;
}
.dog p{
    color: green;
}

.cat p{
    color: purple;
}

.bunny figcaption{
    background-color: orange;
}

.bunny p{
    color: orange;
}

.hamster figcaption{
    background-color: blue;
    color: white;
}

.hamster p{
    color: blue;
}